body {
  background-color: lightblue;
  text-align: center;
}
.card {
  margin: 50px auto;
  background-color: whitesmoke;
  width: 300px;
  height: 500px;
  border-radius: 10px;
}
.qr-code img {
  margin-top: 5%;
  border-radius: 10px;
  width: 90%;
  height: 300px;
}
.teks {
  margin: auto;
  width: 80%;
}
.body-teks {
  font-size: 14px;
}
